body {
  margin: 0;
  padding: 0;
  color: #ccc;
  background-color: #0d4194;
  font-family: sans-serif;
}

.App-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
}
